{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",

    "LEDGER_RECONCILE_ENDPOINT_URL": "http://localhost:3001/api/scheduled-jobs/ledger-reconcile",
    "LEDGER_RECONCILE_BODY": "",
    "SCHEDULED_JOB_API_KEY": ""
  }
}
